.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  display: inline;
}

.main-content{
    width: 60%;
    height: 100em;
    background-color: orange;
}

.left_side_bar{
    width: 20%;
    height: 100em;
    background-color: cyan;
}

.right_side_bar{
    width: 20%;
    height: 100em;
    background-color: cyan;
}
